<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO List</title>
</head>
<body>
    <h1>TODO List</h1>
    <ul>
        <li th:each="task : ${tasks}">
            <span th:text="${task.description}">Task Description</span>
        </li>
    </ul>
    <!--
    <form action="/add" method="post">
        <input type="text" name="task" placeholder="Add new task" required>
        <button type="submit">Add</button>
    </form>
      <ul>
          <li th:each="todo : ${todos}">
              <span th:text="${todo.task}"></span>
              <a th:href="@{'/delete/' + ${todo.id}}">Delete</a>
          </li>
      </ul>
    -->
</body>
</html>
